<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Premier League
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <h6 align="left" >Name: {{savedName}}</h6>
    <h6 align="left" >Favourite Team: {{savedTeam}}</h6>
 <ion-button [routerLink]="['/table']" routerDirection="forward">League Table</ion-button>
 <ion-item-divider>
</ion-item-divider>
 <ion-button [routerLink]="['/player-stats']" routerDirection="forward">Player Stats</ion-button>
 <ion-item-divider>
</ion-item-divider>
 <ion-button [routerLink]="['/create-account']" routerDirection="forward">Create Account</ion-button>
 <ion-item-divider>
</ion-item-divider>
 <ion-button [routerLink]="['/account-details']" routerDirection="forward">Account Details</ion-button>

</ion-content>
